{% extends 'layouts/base.html' %}

{% block title %} <strong>Analytics</strong> Dashboard {% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}
<link href="https://releases.transloadit.com/uppy/v4.15.0/uppy.min.css" rel="stylesheet" />
<script src="https://releases.transloadit.com/uppy/locales/v3.3.1/fr_FR.min.js"></script>
{% endblock stylesheets %}
{% block content %}

<div class="container-fluid p-0">
    <noscript>This app requires JavaScript.</noscript>
    <div id="files-drag-drop" class="d-flex justify-content-center mb-5"></div>
</div>

{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#<script src="{{ url_for('static', filename='assets/js/upload_file.js')}}" type="module"></script>#}

<script type="module">
    import { Uppy, Dashboard, XHRUpload } from "https://releases.transloadit.com/uppy/v4.15.0/uppy.min.mjs"
  const uppy = new Uppy({
		debug: true,
		locale: Uppy.locales.fr_FR,
	});
  uppy.use(Dashboard, { target: '#files-drag-drop', inline: true })
    uppy.use(XHRUpload, {
    endpoint: 'http://127.0.0.1:5000/upload',  // This is your Flask route
    fieldName: 'file',                         // This matches request.files.getlist('file')
    formData: true,
    bundle: true                               // Sends multiple files in one request
  })

  // Optional: handle upload success/failure
  uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful)
  })
</script>
{% endblock javascripts %}