{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}
<link href="https://releases.transloadit.com/uppy/v4.15.0/uppy.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid p-0">
  <div class="mb-3">
    <h1 class="h3 d-inline align-middle">Dashboard</h1>
    <!-- <span class="badge bg-dark text-white ms-2">
      Get more page examples
    </span> -->
  </div>

  <div class="card">
    <div class="card-body">
      <i class="align-middle me-2 float-start feather-lg" data-feather="info"></i> <span class="align-middle"></span>
      <p class="text-muted">Etiam rhoncus. Maecenas tempus, tellus eget condimentum
        rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam
        quam nunc, blandit
        vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt
        tempus. Donec vitae sapien ut libero.</p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet
        </li>
        <li>
          Consectetur adipiscing elit
        </li>
        <li>
          Nulla volutpat aliquam velit
        </li>
        <li>
          Phasellus iaculis neque
        </li>
        <li>
          Eget porttitor lorem
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coloured text</h5>
      <noscript>This app requires JavaScript.</noscript>
      <div id="files-drag-drop" class="d-flex justify-content-center my-4"></div>
      <button class="btn btn-success btn-lg float-end">Success</button>
    </div>
  </div>
</div>

{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- {#<script src="{{ url_for('static', filename='assets/js/upload_file.js')}}" type="module"></script>#} -->

<script type="module">
  import { Uppy, Dashboard, XHRUpload } from "https://releases.transloadit.com/uppy/v4.15.0/uppy.min.mjs"
  import { frLocale } from "/static/assets/js/fr_FR.min.js";

  const uppy = new Uppy({
    debug: true,
    locale: frLocale || {},
    restrictions: {
      maxFileSize: 1000000,
      allowedFileTypes: ['.pdf'],
      maxNumberOfFiles: 1,
    }
  });

  uppy.use(Dashboard, {
    target: '#files-drag-drop', inline: true,
  })

  uppy.use(XHRUpload, {
    endpoint: 'http://127.0.0.1:5000/upload',  // This is your Flask route
    fieldName: 'file',                         // This matches request.files.getlist('file')
    formData: true,
    bundle: true                               // Sends multiple files in one request
  })

  // Optional: handle upload success/failure
  uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful)
  })
  //   uppy.on('file-added', (file) => {
  // 	console.log('Added file', file);
  // });
</script>
{% endblock javascripts %}